#mainTitle.col16
    %h3
        %span 
            List of <%= human_name %>

.tableOptions.clearfix
    = link_to 'New', new_<%= singular_table_name %>_path, class: "aButton right"


%table#example.display
    %thead
        %tr
            %th ID
<% attributes.each do |attribute| -%>
            %th <%= attribute.name.titleize %>
<% end %>

    %tbody
        - @items.each do |i|
            %tr
                %td= i.id
<% attributes.each do |attribute| -%>
                %td <%= attribute.name -%>
<% end %>
                %td
                    .right
                        = button_to 'Delete', i, :confirm => "Are you sure?", method: :delete
                    .right
                        = link_to 'Edit', edit_<%= singular_table_name %>_path(i)
                        |
                        = link_to 'Show'. <%= singular_table_name %>_path(i)
                    

:javascript
    $(document).ready(function(){
        $('#example').dataTable({"bJQueryUI": true, "sPaginationType": "full_numbers", "iDisplayLength": 25, "oLanguage": {
                "sUrl": "/table_translation.js"
            }});
    });                
